extends layout
block content
  // Header
  .column.row
    .header
      h1#mytitle
        | M
        span.color_title artin
        br
        span.invisible M
        | DES CRES
        span.color_title CENZIO
  // Nav
  nav
  .row.column.section
    ul.horizontal.menu.expanded(data-magellan='')
      li
        a.button(href='#resume') Resume
      li
        a#skills-menu.button.secondary(href='#skills') Skills
      li
        a.button.success(href='#contact-form') Contact
  // Resume
  section#resume.section(data-magellan-target='resume')
    .resume-container
      // resume content
      #resume-grid(data-equalizer='', data-equalize-on='medium')
        // resume left content
        .sidebar
          .content(data-equalizer-watch='')
            .row.callout.alert
              p
                | Hi, I am a Swiss-Argentinian-Uruguayan person avid of humanities
                | with a fascination for information systems.
            .row
              .callout
                h4 Language
                .row.columns
                  p
                    | French-Spanish native speaker
                    br
                    | English advanced, German basic
            .row
              .callout.no-margin-bottom
                h4 Technical skills
                .row.columns
                  p
                    | Web - HTML5, CSS3, JS, responsive web design, CMS,
                    | Database.
                    br
                    |                   Coding experience - Perl, Python, PHP, Java, android and iOS
                    |                   environment, node.js, Sass.
        // resume right content
        .main-content
          .resume(data-equalizer-watch='')
            h4 Latest activity
            .leftcol
              p.responsalign 2k14-15
            .rightcol
              p
                | Globetrotter and co-author of
                a(href='www.zetou.ch', target='_blank') www.zetou.ch
            .leftcol
              p.responsalign 2k13-14
            .rightcol
              p
                | Website coordinator for meetings and events
                br
                a(href='https://www.mci-group.com') MCI Group SA
                |  - Geneva
            .leftcol
              p.responsalign 2k12
            .rightcol
              p
                | Risk analyst for academic databases
                br
                | University of Lausanne
              p
            .leftcol
              p.responsalign 2k12
            .rightcol
              p
                | MSc in Information Systems
                br
                | University of Lausanne
            .leftcol
              p.responsalign 2k10
            .rightcol
              p
                | BA in Computer Science and Spanish
                br
                | University of Lausanne
  // Before creating grid
  //
    div class="column row">
    <div class="small-12 medium-7 column primary callout">
    <div class="resume-grid">
    <h4>Profesional experience</h4>
    <div class="leftcol"><p class="responsalign">2k14-2k15</p></div>
    <div class="rightcol"><p>Website coordinator for meetings and events
    <br><a href="https://www.mci-group.com">MCI Group SA</a> </p></div>
    <div class="leftcol"><p class="responsalign">2k13</p></div>
    <div class="rightcol"><p>Database risk analyst for the faculty of
    humanities<br>University of Lausanne<p></div>
    <h4>Education</h4>
    <div class="leftcol"><p class="responsalign">2k12</p></div>
    <div class="rightcol"><p>MSc in Information Systems</p></div>
    <div class="leftcol"><p class="responsalign">2k10</p></div>
    <div class="rightcol"><p>BA in Spanish and in Computer Science</p>
    </div>
    </div>
    </div>
    <div class="small-12 medium-4 column primary callout">Profesional network
    </div>
    </div
  // Skills
  section#skills.section(data-magellan-target='skills')
    .row.column
      #equalizer-fork-js.skills(data-equalizer='', data-equalize-on='medium')
        // Research
        .small-12.medium-4.column
          #research.accordion(data-accordion='', data-multi-expand='true', data-allow-all-closed='true')
            .accordion-item(data-accordion-item='')
              a.accordion-title(href='#')
                h4 Research
              #research-tab.accordion-content(data-tab-content='', data-equalizer-watch='')
                | E-Business
                br
                |                   Interview
                br
                |                   Data mining
                br
                |                   Information systems architecture
                br
                |                   Risk analysis
                br
                |                   Efficient Internet searching
        // Productivity
        .small-12.medium-4.column
          #productivity.accordion(data-accordion='', data-multi-expand='true', data-allow-all-closed='true')
            .accordion-item(data-accordion-item='')
              a.accordion-title(href='#')
                h4 Productivity
              #productivity-tab.accordion-content(data-tab-content='', data-equalizer-watch='')
                | Microsoft Office suite
                br
                |                   Business model canvas
                br
                |                   UML diagrams
                br
                |                   Website responsive sketchsheet
                br
                |                   Responsive website framework
                br
                |                   Screencast, video and sound editing
        // Soft
        .small-12.medium-4.column
          #sherpa.accordion(data-accordion='', data-multi-expand='true', data-allow-all-closed='true')
            .accordion-item(data-accordion-item='')
              a.accordion-title(href='#')
                h4 SHERPA
              #sherpa-tab.accordion-content(data-tab-content='', data-equalizer-watch='')
                | Serious
                br
                |                   Human oriented
                br
                |                   Economical
                br
                |                   Realistic
                br
                |                   Perseverant
                br
                |                   Agile
  // Contact
  section#contact-form.section(data-magellan-target='contact-form')
    .column.row
      .small-12.columns.form-container
        .row.column
          h2 Contact
          p.hide-for-small-only
            | Please contact me for any question regarding
            | profesional or personal activities.
          form.form-color(data-abide='', novalidate='')
            .callout.alert(data-abide-error='', style='display:none;')
              p
                | Please check your name and your email.
            .row
              .small-12.medium-6.columns
                label Message
                  textarea(style='height:154.6px', placeholder='Type a message here.')
              .small-12.medium-6.column
                label Name
                  input(type='text', placeholder='Your name', aria-describedby='exampleHelpTex', required='')
                p#exampleHelpTex.help-text Please enter your name.
                label Email
                  input#email(type='email', placeholder='Enter your email', aria-describedby='exampleHelpText', required='', pattern='email')
                  span.form-error Please check your email.
                p#exampleHelpText.help-text Please enter your email.
            .row
              fieldset.large-6.columns
                button.button(type='submit' value='Submit') Send
  // link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" property=""
  footer
    .row.column
      .small-12.columns.footer
        .row
          .small-12.columns
            h3(style='text-align:center') Thank you for the visit.
        .row.center-footer
          .small-12.medium-4.columns
            p
              | Technologies in use
              br
              i.fi-html5
              | &nbsp;&nbsp;&nbsp;
              i.fi-css3
              | &nbsp;&nbsp;&nbsp;
              i.i-jquery
              | &nbsp;&nbsp;&nbsp;
              br
              i.i-nodejs
              | &nbsp;&nbsp;&nbsp;
              i(style='color:#042235')
                | Express
              br
              i.icon-text XHTML 1.0
              | &nbsp;&nbsp;&nbsp;
              i.fi-check
          .small-12.medium-4.columns(style='white-space:nowrap;')
            .device-icons(style='text-align:center;')
              p
                i.fi-monitor
                | &nbsp;&nbsp;&nbsp;
                i.fi-laptop
                | &nbsp;&nbsp;&nbsp;
                i.fi-tablet-landscape
                | &nbsp;&nbsp;&nbsp;
                i.fi-mobile
          .small-12.medium-3.medium-offset-1.large-2.large-offset-2.columns
            p
              | Let's connect
              br
              span(style=' text-align:center;')
                a(href='#')
                  i.fi-social-facebook
                | &nbsp;&nbsp;&nbsp;
                a(href='#')
                  i.fi-social-linkedin
              br
              |             Let's travel
              br
              a(href='http://www.zetou.ch')
                i.fi-photo
        .row
          .small-12.column
            p(style='margin-bottom:0;')
              | mdescres.com is a responsive personal website
              | developed with the Foundation framework.
